@use "./variables";


@mixin wrapper-mb {
    max-width: variables.$mobile-size;
    width: 100%;
    margin: 0 auto;
}

@mixin wrapper-dt {
    max-width: variables.$desktop-size;
}

@mixin viewport-dt {
    @media screen and (min-width: variables.$desktop-size) {
        @content;
    }
}