@use "../utils/variables";
@use "../utils/mixins";

.about {
    background-color: variables.$greysoft;
}

.about__wrapper {
    @include mixins.wrapper-mb;
    padding: 4rem 0 4rem 0;
}

.about__title {
    @include mixins.title;
}

.about__text {
    color: variables.$blue;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2.7rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;    
    
    &:first-of-type {
        margin-top: 6.7rem;
    }
}

.about__list {
    list-style: none;
    margin-top: 3.2rem;
}

.about__item {
    width: 19rem;
    margin-left: auto;
    margin-right: 8.1rem;
    margin-bottom: 4rem;
}

.about__number {
    margin-bottom: 1.2rem;
    margin-right: 4.4rem;
}

.about__subtitle {
    color: variables.$blue;
    font-size: 1.6rem;
    font-weight: 900;
}

.about__image {
    width: 35.1rem;
}

@media (min-width: 39.2rem) and (max-width: 192rem){
    .about__wrapper {
        @include mixins.wrapper-dt;
        padding: 8rem 0 4rem 0;
    }

    .about__title {
        @include mixins.title;
        text-align: left;
        margin-left: 35.8rem;
        width: 80%;
        &::before {
            left: 3.2%;
        }
    }

    .about__text {
        margin: 0;
        margin-left: 36rem; 
        margin-right: 92.9rem;
        margin-top: 2rem;
    
    }

    .about__list {
        display: flex;
        margin-top: 0rem;
        margin-left: 36rem;
    }

    .about__item {
        width: 16rem;
        margin-left: 8rem;
        margin-top: 4rem;
        margin-right: 0rem;
        margin-bottom: 0rem;
    }

    #item {
        margin-left: 0rem;
    }
    
    .about__image {
        width: 80.7rem;
        position: absolute;
        top: 100rem;
        left: 109.5rem;
    }
}