@use "../utils/variables";
@use "../utils/mixins";

.about{
    background-color: variables.$greysoft;
}

.about__wrapper {
    @include mixins.wrapper-mb;
    padding: 4rem 0 4rem 0;
}

.about__title {
    @include mixins.title;
}

.about__text {
    color: variables.$blue;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2.7rem;    
    
    &:first-of-type {
        margin-top: 6.7rem;
    }
}

.about__list {
    list-style: none;
    margin-top: 3.2rem;
}

.about__item {
    width: 19rem;
    margin-left: auto;
    margin-right: 8.1rem;
    margin-bottom: 4rem;
}

.about__number {
    margin-bottom: 1.2rem;
}

.about__subtitle {
    color: variables.$blue;
    font-size: 1.6rem;
    font-weight: 900;
}

.about__image {
    
}