@use "../utils/mixins";
@use "../utils/variables";

.benefits {
    background-image: url("../assets/background__blue.jpeg");
    background-size: 192rem 58.3rem;
    background-repeat: no-repeat;
    background-position-x: 50.5%;
    background-position-y: -3%;
    background-color: variables.$blue;
}

.benefits__wrapper {
    @include mixins.wrapper-mb;
    padding: 4rem 0 0 0;
    position: relative;
}

.benefits__title {
    @include mixins.title;
    color: variables.$white;
}

.benefits__subtitle {
    @include mixins.subtitle;
    &::after {
        content: "";
        display: block;
        width: 10rem;
        height: 0.3rem;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        background-color: variables.$orange;
    }
    
}

.benefits__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}

.benefits__item {
    width: 100%;
    padding: 2.4rem;
    border-radius: 0.8rem;
    background-color: variables.$white;
}

#benefits {
    margin-top: 6.7rem;
}

.benefits__text {
    @include mixins.text;
}

.benefits__image {
    width: 17.8rem;
    height: 9rem;
    margin-bottom: 4rem;
}

.benefits__image1 {
    width: 15.2rem;
    height: 9rem;
    margin-bottom: 4rem;
}

.benefits__image2 {
    width: 14.4rem;
    height: 9rem;
    margin-bottom: 4rem;
}