@use "../utils/variables";
@use "../utils/mixins";

.callback {
    background-image:  url("../assets/background_cb.jpeg");
    background-repeat: no-repeat;
}

.callback__wrapper {
    @include mixins.wrapper-mb;
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.callback__title {
    @include mixins.title;
    color: variables.$white;
}

.callback__form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 5.3rem;
    margin-bottom: 0.8rem;
    margin-left: 2.5rem;
}

.callback__form2 {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 5.3rem;
    margin-bottom: 0.8rem;
    margin-left: 2.5rem;
}

.callback__label {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.4rem;
}

.callback__label2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.4rem;
}

.callback__description {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    color: variables.$white;
}

.callback__text-input {
    width: 34.2rem;
    height: 4.3rem;
    gap: 1rem;
    border: none;
    border-radius: 0.4rem;
}

.callback__text-input2 {
    width: 34.2rem;
    height: 4.3rem;
    gap: 1rem;
    border: solid;
    border-color: variables.$greysoft;
    border-radius: 0.4rem;
}

.callback__text-input3 {
    width: 34.2rem;
    height: 4.3rem;
    gap: 1rem;
    border: solid;
    border-color: variables.$greysoft;
    border-radius: 0.4rem; 
}

.callback__button {
    background-color: variables.$orange;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
    color: variables.$white;
    width: 20.7rem;
    height: 4.3rem;
    margin-left: 6.8rem;
    margin-top: 2.8rem;
}

.callback__text {
    font-size: 1.4rem;
    font-weight: 400;
    color: variables.$white;
    margin-right: 2.5rem;
}

.callback__text2 {
    font-size: 1.4rem;
    font-weight: 400;
    color: variables.$white;
    margin-right: 2.5rem;
}

.callback__intro {
    color: variables.$white;
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    margin-bottom: -2.3rem;
}

.callback__textarea {
    width: 34.2rem;
    margin-right: 2.4rem;
    border-radius: 0.4rem;
    border: none;
}

.callback__button2 {
    background-color: variables.$orange;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
    color: variables.$white;
    width: 16.1rem;
    height: 4.3rem;
    margin-right: 7rem;
    margin-bottom: 2rem;
}

@media (min-width: 39.2rem) and (max-width: 192rem){
    .callback__wrapper {
        @include mixins.wrapper-dt;
        padding-bottom: 16rem;
        padding-top: 10rem;
    }

    .callback__title {
        position: relative;
        width: 57%;
        &::before {
            left: 50%;
        }
    }

    .callback__form {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        margin-top: 5.3rem;
        margin-bottom: 0.8rem;
        margin-left: 72.5rem;
    }

    .callback__form2 {
        display: block;
        width: 58rem;
        margin-top: 3.2rem;
        //flex-direction: column;
    }

    .callback__text-input {
        width: 47rem;
    }

    .callback__text-input2{
        margin-bottom: 2rem;
        width: 28rem;
    }

    .callback__text-input3 {
        margin-bottom: 2rem;
        width: 58rem;
    }

    .callback__text {
        width: 47rem;
    }

    .callback__button {
        margin-top: 2rem;
        margin-left: 11.8rem;
    }

    .callback__textarea {
        margin: 0rem;
        border: solid;
        border-color: variables.$greysoft;
        border-radius: 0.4rem;
    }

    .callback__intro {
        margin: 0rem;
        margin-left: 2rem;
        width: 58rem;
        font-size: 2rem;
        font-weight: 700;
    }

    .callback__label2 {
        position: absolute;
        margin-left: 30rem;
        top: 7.2rem;
    }

    .callback__textarea {
        width: 58.2rem;
    }

    #comment {
        margin-bottom: 4rem;
    }

    .callback__text2 {
        margin-bottom: 2rem;
    }
}