@use "../utils/variables";
@use "../utils/mixins";

.catalog__wrapper {
    @include mixins.wrapper-mb;
    padding: 4.8rem 0 6.7rem 0;
}

.catalog__title {
    @include mixins.title;
}

@media (min-width: 39.2rem) and (max-width: 192rem){
    .catalog__wrapper {
        @include mixins.wrapper-dt;
        padding-top: 8rem;
        padding-bottom: 2rem;
    }

    .catalog__title {
        @include mixins.title;
        text-wrap: nowrap;
        margin-bottom: 4rem;
        
        &::before {
            position: absolute;
            bottom: -3.2rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: variables.$orange;
        }
    }
}