@use "../utils/variables";
@use "../utils/mixins";

.controls__list {
    display: flex;
    justify-content: center;
    gap: 1.8rem;
    margin-top: 3.7rem;
}

.controls__visible-selector {
    display: block;
    width: 4rem;
    height: 0.6rem;
    border-radius: 3rem;
    background-color: variables.$greymedium;
    transition: background-color 0.5s;
}

.controls__input:checked ~ .controls__visible-selector {
    background-color: variables.$orange;
}

.controls:has(.controls__input--1:checked) + .slider__display > .slider__image--1 {
    display: block;
}

.controls:has(.controls__input--2:checked) + .slider__display > .slider__image--2 {
    display: block;
}

.controls:has(.controls__input--3:checked) + .slider__display > .slider__image--3 {
    display: block;
}