@use "../utils/variables";
@use "../utils/mixins";

.contacts__wrapper {
    @include mixins.wrapper-mb;
    padding: 3.6rem 0 4rem 0;
}

.contacts__list {
    list-style: none;
}

.contacts__item {
    max-width: 20.5rem;
    margin-left: auto;
    margin-right: 1.9rem;

    &:not(:first-child) {
        margin-top: 2.9rem;
    }
}

.contacts__subtitle {
    color: variables.$blue;
    font-size: 1.6rem;
    font-weight: 900;
}

.contacts__link {
    text-decoration: none;

    color: variables.$blue;
    font-size: 1.6rem;
    font-weight: 500;

    &:first-of-type {
        margin-top: 0.6rem;
    }
}

.contacts__text {
    color: variables.$blue;
    font-size: 1.6rem;
    font-weight: 500;
}

.contacts__image {
    position: absolute;
    right: 27.2rem;
}

@media (min-width: 39.2rem) and (max-width: 192rem){
    .contacts__wrapper {
        @include mixins.wrapper-dt;
        background-image: url(/assets/graphic_hero.svg);
        background-position-x: center;
        padding: 0;
        height: 9rem;
        position: relative;
        bottom: 9rem;
    }

    .contacts__list{
        display: flex;
        flex-direction: row;
    }

    .contacts__item {
        margin: 0rem;
        &:not(:first-child) {
            margin-top: 0rem;
            margin-left: 10rem;
            margin-top: 5rem;
        }
        margin-left: 78rem;
        margin-top: 5rem;
    }

    .contacts__image {
        position: absolute;
        right: 0rem;
        left: 100rem;
    }

    #mail {
        position: absolute;
        left: 70rem;
        top: 4.5rem;
    }
}