@use "../utils/variables";
@use "../utils/mixins";

.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
   
}

.header__wrapper {
    @include mixins.wrapper-mb;
    padding: 2.4rem 2.5rem 5.2rem 2.5rem;
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/background_header.svg");
    width: 39.2rem;
    background-repeat: no-repeat;
    background-position-x: 50%;
    margin: 0;
}

.header__burger {
    background: none;
    border: none;
}

.header__contacts {
    display: none;
}

@media (min-width: 39.2rem) and (max-width: 192rem){
    .header__wrapper {
        @include mixins.wrapper-dt;
        background-image: url("/assets/header_dt.svg");
        background-size: cover;
        max-width: 192rem;
        height: 16.1rem;
        width: 100%;
    }

    .header__burger {
        display: none;
    }

    .header__contacts {
        display: flex;
        margin: 1rem 36rem 12.8rem 36.8rem;
    }

    .header__link {
        margin-left: 2.4rem;
        text-decoration: none;
        color: variables.$blue;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
        white-space: nowrap;
    }

    a[class*="header__link"]:hover {
        text-decoration-line: underline;
        text-underline-offset: 1rem;
        text-decoration-thickness: 0.3rem;
        text-decoration-style: solid;
        text-decoration-color: variables.$orange;
    }

    #number {
        color: variables.$orange;
    }

    .logo__image {
        position: absolute;
        left: 23.2rem;
    }
}