@use "../utils/mixins";
@use "../utils/variables";

.hero {
    background-image: url("../assets/background_1.png");
}

.hero__wrapper {
    @include mixins.wrapper-mb;
    padding-top: 12.4rem;
    padding-bottom: 8rem;
}

.hero__title {
    margin-top: 4.3rem;
    color: variables.$white;
    text-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
    font-size: 3.2rem;
    font-weight: 700;
    display: block;
    margin-left: 2.5rem;
    margin-right: 3.8rem;

    &--small {
        margin: 0;
        font-size: 1.6rem;
        font-weight: 500;
    }
}

.hero__image {
    margin-top: 4.2rem;
    margin-left: 3.7rem;
    width: 31.7rem;
    height: 21.9rem;
}

.hero__callback {
    text-decoration: none;

    margin: 0 auto;
    border-radius: 0.4rem;
    color: variables.$white;  
    background-color: variables.$orange;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
    display: block;
    padding: 1.2rem 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    max-width: 20.7rem;
}

.circlel {
    display: none;
}

.circler {
    display: none;
}

@media (min-width: 39.2rem) and (max-width: 192rem){
    .hero {
        background-image: url("../assets/background_1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 90%;
    }
    
    .hero__wrapper {
        @include mixins.wrapper-dt;
    }

    .hero__container {
        display: flex;
        margin-left: 20rem;
    }

    .hero__title {
        font-size: 4.8rem;
        text-align: left;
        width: 51.5rem;
        margin-top: 12rem;
        &--small {
            position: relative;
            bottom: 10rem;
            font-size: 2.4rem;
            font-weight: 700;
        }
    }

    .hero__image {
        width: 59rem;
        height: 39rem;
    }

    .circlel {
        display: block;
        border: none;
        background: transparent;
    }

    .circler {
        display: block;
        border: none;
        background: transparent;
    }

    .hero__callback {
        position: relative;
        right: 56rem;
        bottom: 8rem;
    }

    .controls__list {
        margin-top: 0rem;
        position: relative;
        bottom: 4rem;
    }
    
}