@use "../utils/variables";
@use "../utils/mixins";

.places {
    background-color: variables.$white;
}

.places__wrapper {
    @include mixins.wrapper-mb;
    padding-top: 4.5rem;
    padding-bottom: 4rem;
}

.places__title {
    @include mixins.title;
}

.places__map {
    width: 36.2rem;
    margin-left: 1.5rem;
    margin-top: 7.3rem;
}

.places__list {
    list-style-type: disc;
    color: variables.$blue;
    font-size: 1.6rem;
    font-weight: 500;
    column-count: 2;
    padding-top: 2rem;
    margin-left: 5rem;
}

.places__graphic {
    width: 50.4rem;
    position: absolute;
    left: -4rem;
    margin-top: -10rem;
}