@use "../utils/variables";
@use "../utils/mixins";

.references {
    background-image: url("../assets/background_blue_ft.jpg");
    background-repeat: no-repeat;
}

.references__wrapper {
    @include mixins.wrapper-mb;
    padding-top: 4rem;
}

.references__title {
    @include mixins.title;
    color: variables.$white;
}

.references__orangebox {
    background-color: variables.$orange;
    width: 34.2rem;
    height: 32.5rem;
    padding-left: 3.2rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    margin-left: 2.5rem;
    margin-top: 6.7rem;
}

.references__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.references__item {
    max-width: 20.5rem;
}

.references__subtitle {
    color: variables.$white;
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 0.7rem;
}

.references__link {
    text-decoration: none;

    color: variables.$white;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2;
    
}

.references__text {
    color: variables.$white;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2;
}

.references__image {
    margin-bottom: 1.2rem;
}

.references__greybox {
    background-color: variables.$greyhard;
    width: 34.2rem;
    height: 11.2rem;
    padding: 3.2rem 3.2rem 3.2rem 3.2rem;
    margin-left: 2.5rem;
    margin-top: 0.4rem;
    margin-bottom: 4rem;
}

.references__gbtext {
    font-size: 1.4rem;
    font-weight: 400;
    color: variables.$white;
    line-height: 1.2;
}

.references__callback {
    background-color: variables.$blue;
}

@media (min-width: 39.2rem) and (max-width: 192rem){
    .references {
        background-image: url("../assets/BG-3.jpeg");
        background-repeat: no-repeat;
    }
    
    .references__wrapper {
        @include mixins.wrapper-dt;
        padding-top: 12rem;
    }

    .references__title {
        text-align: center;
        margin-bottom: 8rem;
        position: relative;
        width: 87%;

        &::before {
            content: "";
            display: block;
            width: 10rem;
            height: 0.3rem;
            
            position: absolute;
            bottom: -3.2rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: variables.$orange;
        }
    }

    .references__largebox {
        display: flex;
        width: 120rem;
        padding: 6rem 14rem 20rem 6rem;
        margin-left: 36rem;
        margin-right: 32rem;
        margin-bottom: 2rem;
        border-radius: 0.8rem;
        background-color: variables.$white;
        gap: 4rem;
    }

    .references__orangebox {
        background-color: variables.$orange;
        width: 34.2rem;
        height: 32.5rem;
        padding: 4rem 33.5rem 34rem 4rem;
        margin: 0;
    }

    .references__greybox {
        background-color: variables.$greyhard;
        position: relative;
        top: 38.5rem;
        right: 41.5rem;
        width: 37.5rem;
        padding: 4rem 34rem 9.2rem 3.2rem;
        margin: 0;
    }

    .references__item {
        width: 22.5rem;
    }
    

    .references__callback {
        position: absolute;
        right: 48rem;
        background-color: variables.$white;
    }

    .text1 {
        color: variables.$blue;
    }

    .text2 {
        color: variables.$blue;
        padding-bottom: 2rem;
    }

    .references__gbtext {
        font-size: 1.4rem;
        font-weight: 400;
        color: variables.$white;
        line-height: 1.2;
        width: 29.5rem;
    }

}